div.chapter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 7px;
}

div.chapter-name {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-left: 50px;
    gap: 7px;
}
