div.chapter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

div.chapter-name {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-left: 30px;
    gap: 5px;
}

div.chapter-history {

}


