div.articles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.articles-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}